{% include 'header.html' %}
        </header>
        <main class="main container">
            <h2 class="main__content"><span class="never">Never</span> forget your reading history by logging your books into the BookLogger</h2>
            <h3>Checkout <a class="form__link site__link" href="https://documenter.getpostman.com/view/26669589/2sA3XJmk7R#57107deb-f570-40f4-b208-b98f0d96c356">BookLogger API</a></h3>
            <div class="btn-container">
                <p class="btn__p">
                    <a class="btn-a" href="{{ url_for('register') }}">Register</a>
                </p>
                <p class="btn__p">
                    <a class="btn-a" href="{{ url_for('login') }}">Login</a>
                </p>
            </div>
        </main>
{% include 'footer.html' %}